# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pip\lab_work_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
